p {
    font-family: "微软雅黑", "Microsoft Yahei";
    font-weight: 100;
    font-size: 20px;
    text-align: right;
    line-height: 2;
    text-decoration: line-through;
}

a {
    text-decoration: none;
}

.block {
    display: block;
    background: #ccc;
    width: 100px;
    height: 100px;
    padding: 20px;
    border: 5px dotted #000;
    margin: 20px;
}

.inline {
    background: #ccc;
    display: inline;
}

.inline-block {
    display: inline-block;
    background: #ccc;
}